<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Conn"
            connectionString="Data Source=LAPTOP-B9HCOLT4\SQLEXPRESS;Initial Catalog=QLBH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>